---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="elPjDsE0YDo4rHGGky4UphwxthEZw3Me8sEVqhLLU",
        oauth_signature="AKpr996cZNi5ogdBXuwALloqock%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364436355", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"tags\": [\n        {\n            \"text\": \"movie\",\n
        \           \"applied_count\": 1,\n            \"id\": 65634,\n            \"bookmark_ids\":
        [\n                31620185\n            ]\n        },\n        {\n            \"text\":
        \"music\",\n            \"applied_count\": 1,\n            \"id\": 65636,\n
        \           \"bookmark_ids\": [\n                31620185\n            ]\n
        \       }\n    ]\n}"
  recorded_at: Thu, 28 Mar 2013 02:05:56 GMT
recorded_with: VCR 2.0.1
