---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="0ROIzNNdwVoEQHMFb8mOvCdkae0K1ciPpoCAprzNk",
        oauth_signature="AYCd12ZkMgzopE08GjCnPnQnmgY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1356983495", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"tags\": [\n        {\n            \"text\": \"ssn\",\n            \"applied_count\":
        1,\n            \"id\": 5137\n        },\n        {\n            \"text\":
        \"usa\",\n            \"applied_count\": 1,\n            \"id\": 5138\n        }\n
        \   ]\n}"
  recorded_at: Mon, 31 Dec 2012 19:51:36 GMT
recorded_with: VCR 2.0.1
