---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/bookmarks?include_meta=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="EKXEyKKN0p4QqhmyroengLzJvKpOrF0mceRuKypDvc",
        oauth_signature="AVPGOyrvfSrbx4nyEXl4mptUpVU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1334915690", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ! "{\n    \"bookmarks\": [\n        {\n            \"user_id\": 24591,\n
        \           \"read_percent\": \"0.00\",\n            \"date_updated\": \"2012-04-18
        09:04:08\",\n            \"favorite\": false,\n            \"id\": 8164259,\n
        \           \"date_archived\": null,\n            \"date_opened\": null,\n
        \           \"article\": {\n                \"domain\": \"untether.tv\",\n
        \               \"title\": \"HTML5, WebGL and BlackBerry 10: talking mobile
        web dev with RIM’s Adam Stanley and Alex Kinsella\",\n                \"url\":
        \"http://untether.tv/2012/html5-webgl-and-blackberry-10-talking-mobile-web-dev-with-rims-adam-stanley-and-alex-kinsella/?utm_source=html5weekly&utm_medium=email\",\n
        \               \"lead_image_url\": \"http://tvuntether.zippykidcdn.com/wp-content/uploads/2012/04/HTML5_Logo_512.png\",\n
        \               \"author\": \"Douglas Soltys\",\n                \"excerpt\":
        \"In an effort to right BlackBerry&#x2019;s ship, RIM has been doubling down
        on developers, giving away BlackBerry 10 Dev Alpha devices to attendees of
        its upcoming mobile conference in May, and&hellip;\",\n                \"direction\":
        \"ltr\",\n                \"word_count\": 1846,\n                \"date_published\":
        null,\n                \"dek\": null,\n                \"processed\": true,\n
        \               \"id\": \"rqpxpcex\"\n            },\n            \"article_href\":
        \"/api/rest/v1/articles/rqpxpcex\",\n            \"date_favorited\": null,\n
        \           \"date_added\": \"2012-04-18 09:04:08\",\n            \"archive\":
        false\n        },\n        {\n            \"user_id\": 24591,\n            \"read_percent\":
        \"0.00\",\n            \"date_updated\": \"2012-04-18 09:02:13\",\n            \"favorite\":
        false,\n            \"id\": 8164111,\n            \"date_archived\": null,\n
        \           \"date_opened\": null,\n            \"article\": {\n                \"domain\":
        \"buildnewgames.com\",\n                \"title\": \"Mobile Game Primer\",\n
        \               \"u[...]
