---
http_interactions:
- request:
    method: post
    uri: https://www.readability.com/api/rest/v1/bookmarks
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fwww.jslib.org.cn%2Fnjlib_xsyj%2F201011%2Ft20101130_98154.htm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="xJHXiSuhXbqkEu49fK5v0woxOQH4rWazwYxcHB7ocbY",
        oauth_signature="8j%2FJ3nxvQQ3s%2BKe4fMv%2Ft0s3r58%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1361335757", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 409
      message: CONFLICT
    headers:
      Content-Type:
      - application/json
      Location:
      - https://www.readability.com/api/rest/v1/bookmarks/3644001
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"redirect": true, "existing_bookmark": 3644001}, "messages":
        ["Bookmark already exists."], "success": true}'
  recorded_at: Wed, 20 Feb 2013 04:49:18 GMT
recorded_with: VCR 2.0.1
