---
http_interactions:
- request:
    method: post
    uri: https://www.readability.com/api/rest/v1/bookmarks
    body:
      encoding: US-ASCII
      string: url=http%3a%2f%2fwww.jslib.org.cn%2fnjlib_xsyj%2f201011%2ft20101130_98154.htm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="9i2xHN9HJl8sNXqVI20YDPnQ0iAR0BFzddUYbXlEvE",
        oauth_signature="UwZnXEFVOjOCgiSX2ghOgnEmcWM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1334276911", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 409
      message: CONFLICT
    headers:
      Content-Type:
      - application/json
      Location:
      - https://www.readability.com/api/rest/v1/bookmarks/3644001
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"redirect": true, "existing_bookmark": 3644001}, "messages":
        ["Bookmark already exists."], "success": true}'
  recorded_at: Fri, 13 Apr 2012 00:28:33 GMT
recorded_with: VCR 2.0.1
