---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/users/_current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="Ivx5HUYkD8onpyFQTjl5e8WSAV6eTaQ3LmF0KLfJ30",
        oauth_signature="TOJUNZbs%2FXR26A9T87JC2EOjbz0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364436323", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"username\": \"<TOKENS>\",\n    \"first_name\": \"Dongbin\",\n
        \   \"last_name\": \"Li\",\n    \"has_active_subscription\": false,\n    \"tags\":
        [\n        {\n            \"text\": \"movie\",\n            \"applied_count\":
        1,\n            \"id\": 65634,\n            \"bookmark_ids\": [\n                31620185\n
        \           ]\n        },\n        {\n            \"text\": \"music\",\n            \"applied_count\":
        1,\n            \"id\": 65636,\n            \"bookmark_ids\": [\n                31620185\n
        \           ]\n        }\n    ],\n    \"is_publisher\": false,\n    \"email_into_address\":
        \"<TOKENS>+wilde@inbox.readability.com\",\n    \"kindle_email_address\": \"mike.d.1984@kindle.com\",\n
        \   \"avatar_url\": \"https://graph.facebook.com/699166556/picture?height=128&width=128\",\n
        \   \"date_joined\": \"2011-11-17 09:31:53\"\n}"
  recorded_at: Thu, 28 Mar 2013 02:05:24 GMT
recorded_with: VCR 2.0.1
