---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/users/_current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="tQCL0nlVlUxp2s80VWKSkdkYDvWyA8akd2gDy5oFVDw",
        oauth_signature="YqpcqxWHMOI%2BFDUHDv6ar2JHnvs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1361335754", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"username\": \"<TOKENS>\",\n    \"first_name\": \"Dongbin\",\n
        \   \"last_name\": \"Li\",\n    \"has_active_subscription\": false,\n    \"avatar_url\":
        \"https://graph.facebook.com/699166556/picture?height=128&width=128\",\n    \"is_publisher\":
        false,\n    \"email_into_address\": \"<TOKENS>+wilde@inbox.readability.com\",\n
        \   \"kindle_email_address\": \"mike.d.1984@kindle.com\",\n    \"date_joined\":
        \"2011-11-17 09:31:53\"\n}"
  recorded_at: Wed, 20 Feb 2013 04:49:15 GMT
recorded_with: VCR 2.0.1
