---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/bookmarks?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="6LVwBGpMwrqQpyIagfDoSl9y1XqrqvqZj7WwPaaVbs",
        oauth_signature="b%2Bm5FpOkn%2FRteQeaUIytEbT0u9w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1334276915", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ! "{\n    \"bookmarks\": [\n        {\n            \"user_id\": 24591,\n
        \           \"read_percent\": \"0.00\",\n            \"date_updated\": \"2012-04-12
        20:20:16\",\n            \"favorite\": true,\n            \"id\": 7616262,\n
        \           \"date_archived\": null,\n            \"date_opened\": null,\n
        \           \"article\": {\n                \"domain\": \"37signals.com\",\n
        \               \"title\": \"Testing like the TSA\",\n                \"url\":
        \"http://37signals.com/svn/posts/3159-testing-like-the-tsa\",\n                \"author\":
        \"David\",\n                \"excerpt\": \"When developers first discover
        the wonders of test-driven development, it&#x2019;s like gaining entrance
        to a new and better world with less stress and insecurity. It truly is a wonderful
        experience&hellip;\",\n                \"direction\": \"ltr\",\n                \"word_count\":
        711,\n                \"date_published\": null,\n                \"processed\":
        true,\n                \"id\": \"ueeebier\"\n            },\n            \"article_href\":
        \"/api/rest/v1/articles/ueeebier\",\n            \"date_favorited\": \"2012-04-12
        19:11:03\",\n            \"date_added\": \"2012-04-11 22:36:19\",\n            \"archive\":
        true\n        },\n        {\n            \"user_id\": 24591,\n            \"read_percent\":
        \"0.00\",\n            \"date_updated\": \"2012-04-11 03:24:19\",\n            \"favorite\":
        false,\n            \"id\": 7536888,\n            \"date_archived\": null,\n
        \           \"date_opened\": null,\n            \"article\": {\n                \"domain\":
        \"www.codinghorror.com\",\n                \"title\": \"Books: Bits vs. Atoms\",\n
        \               \"url\": \"http://www.codinghorror.com/blog/2012/04/books-bits-vs-atoms.html\",\n
        \               \"author\": \"Jeff Atwood\",\n                \"excerpt\":
        \"&#13; &#13; &#13; &#13; &#13; &#13; &#13; I adore words, but let's face
        it: books suck.&#13; &#13; &#13; More specifically, so many beautiful ideas
        have been helplessly trapped in physical&hellip;\",\n                \"direction\":
        \"ltr\",\n                \"word_count\": 2023,\n                \"date_published\":
        null,\n                \"processed\": true,\n                \"id\": \"msdmfjsm\"\n
        \           },\n            \"article_href\": \"/api/rest/v1/articles/msdmfjsm\",\n
        \           \"date_favorited\": null,\n           [...]
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/bookmarks/7616262
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="vrzxXDV4nz5B6pMdPQb8MndBd2ejnYveB02QMEHhI",
        oauth_signature="IgYZ%2BcQntdP1vXFqIlZUaozZlp8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1334276919", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
[...]
