---
http_interactions:
- request:
    method: post
    uri: https://www.readability.com/api/rest/v1/bookmarks
    body:
      encoding: US-ASCII
      string: url=http%3a%2f%2fwww.tripadvisor.com%2fRestaurant_Review-g297701-d1182615-Reviews-Cafe_Lotus-Ubud_Bali.html
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="8h0KNWXC6t0RRD5JtIdJAKuEuw2yZKTZSQaNkW8cmmA",
        oauth_signature="mVHvNDyX%2FIF8AMkoQlZE4mRTrdU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1334276909", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 409
      message: CONFLICT
    headers:
      Content-Type:
      - application/json
      Location:
      - https://www.readability.com/api/rest/v1/bookmarks/2420783
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"redirect": true, "existing_bookmark": 2420783}, "messages":
        ["Bookmark already exists."], "success": true}'
  recorded_at: Fri, 13 Apr 2012 00:28:31 GMT
recorded_with: VCR 2.0.1
