---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/bookmarks?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="Qe2yGzy45EevzZaYvA5pjlYF7qKZ1I9oelUWdexNXpk",
        oauth_signature="6Dj4%2FTZjdrssIfK7ZyjZDQiEokM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1356986426", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ! "{\n    \"bookmarks\": [\n        {\n            \"user_id\": 24591,\n
        \           \"read_percent\": \"0.00\",\n            \"tags\": [\n                {\n
        \                   \"text\": \"ruby\",\n                    \"id\": 39085\n
        \               },\n                {\n                    \"text\": \"tag3\",\n
        \                   \"id\": 39087\n                }\n            ],\n            \"date_updated\":
        \"2012-12-31 15:22:52\",\n            \"favorite\": false,\n            \"id\":
        27888650,\n            \"date_archived\": \"2012-12-31 15:22:52\",\n            \"date_opened\":
        null,\n            \"article\": {\n                \"domain\": \"en.wikipedia.org\",\n
        \               \"title\": \"Domain Name System\",\n                \"url\":
        \"http://en.wikipedia.org/wiki/Domain_Name_System\",\n                \"lead_image_url\":
        null,\n                \"author\": null,\n                \"excerpt\": \"The
        Domain Name System ( DNS ) is a hierarchical naming system built on a distributed
        database for computers, services, or any resource connected to the Internet
        or a private network . Most&hellip;\",\n                \"direction\": \"ltr\",\n
        \               \"word_count\": 6128,\n                \"date_published\":
        null,\n                \"dek\": null,\n                \"processed\": true,\n
        \               \"id\": \"k425kyae\"\n            },\n            \"article_href\":
        \"/api/rest/v1/articles/k425kyae\",\n            \"date_favorited\": \"2012-12-31
        15:22:50\",\n            \"date_added\": \"2012-12-30 17:42:21\",\n            \"archive\":
        true\n        },\n        {\n            \"user_id\": 24591,\n            \"read_percent\":
        \"0.00\",\n            \"tags\": [],\n            \"date_updated\": \"2012-12-30
        17:42:10\",\n            \"favorite\": false,\n            \"id\": 27888639,\n
        \           \"date_archived\": null,\n            \"date_opened\": null,\n
        \           \"article\": {\n                \"domain\": \"en.wikipedia.org\",\n
        \               \"title\": \"Name server\",\[...]
- request:
    method: post
    uri: https://www.readability.com/api/rest/v1/bookmarks
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FDomain_Name_System
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="Xh1wzAnrDW9LsnyfLgoi3YB01ux2plQDH10haaow",
        oauth_signature="GDY16FF5MYgtMYxp6EsEnP8WdMU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1356986427", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 409
      message: CONFLICT
    headers:
      Content-Type:
      - application/json
      Location:
      - https://www.readability.com/api/rest/v1/bookmarks/27888650
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"redirect": true, "existing_bookmark": 27888650}, "messages":
        ["Bookmark already exists."], "success": true}'
  recorded_at: Mon, 31 Dec 2012 20:40:27 GMT
recorded_with: VCR 2.0.1
