---
http_interactions:
- request:
    method: post
    uri: https://www.readability.com/api/rest/v1/bookmarks
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fwww.tripadvisor.com%2FRestaurant_Review-g297701-d1182615-Reviews-Cafe_Lotus-Ubud_Bali.html
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="LxDHPjGRmZ3krV9MEDEUhlD9RzfDb6WL6vdL5VwF3Es",
        oauth_signature="yDdXZC4itrqQHzLT8YTStpA%2FNvs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1361335756", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 409
      message: CONFLICT
    headers:
      Content-Type:
      - application/json
      Location:
      - https://www.readability.com/api/rest/v1/bookmarks/2420783
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"redirect": true, "existing_bookmark": 2420783}, "messages":
        ["Bookmark already exists."], "success": true}'
  recorded_at: Wed, 20 Feb 2013 04:49:16 GMT
recorded_with: VCR 2.0.1
