---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/articles/eg60dxbv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="b98N2QxT1pgwccpSndFudO6OkKwKIjqWERMM5gUUgE",
        oauth_signature="iLQG5dKkeKgm3lWhTWI7%2Fh2KRjU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1334276913", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"domain\": \"www.joezimjs.com\",\n    \"author\": \"Joseph
        Zimmerman\",\n    \"url\": \"http://www.joezimjs.com/javascript/javascript-design-patterns-decorator/?utm_source=javascriptweekly&utm_medium=email\",\n
        \   \"short_url\": \"http://rdd.me/eg60dxbv\",\n    \"title\": \"JavaScript
        Design Patterns\",\n    \"direction\": \"ltr\",\n    \"word_count\": 1166,\n
        \   \"content\": \"<div><div class=\\\"entry-content\\\">\\r\\n\\t\\t<p>Today
        I&#8217;d like to show another JavaScript Design Pattern: the Decorator, which
        is a way to add features to objects without subclassing or adding extra attributes.
        This post continues the JavaScript Design Patterns series that I started several
        months ago. If you&#8217;re new to the JavaScript Design Patterns series that
        I&#8217;m running here, you can find a list of the previous and upcoming posts
        in the series at the <a href=\\\"http://www.joezimjs.com/javascript/javascript-design-patterns-decorator/#series\\\"
        rel=\\\"nofollow\\\">bottom of the post</a>.</p>\\n<h2>Back on Course with
        Tutorial Posts</h2>\\n<p>After the exciting launch of my new <a href=\\\"http://www.joezimjs.com/projects/publish-subscribe-jquery-plugin/\\\"
        title=\\\"JZ Publish/Subscribe Project Page\\\" rel=\\\"nofollow\\\">jQuery
        plugin</a> it&#8217;s been difficult to bring myself back to normal blogging
        and back to this series. If you don&#8217;t know what I&#8217;m talking about,
        then you should hop on over to the <a href=\\\"http://www.joezimj[...]
