---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/bookmarks?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"bookmarks\": [\n        {\n            \"user_id\": 893434,\n
        \           \"read_percent\": \"0.00\",\n            \"date_updated\": \"2012-11-19
        14:21:48\",\n            \"favorite\": false,\n            \"id\": 24858023,\n
        \           \"date_archived\": null,\n            \"date_opened\": null,\n
        \           \"article\": {\n                \"domain\": \"devans.us\",\n                \"title\":
        \"Turing Incomplete\",\n                \"url\": \"http://devans.us/public/post/13/the-cost-of-the-war-on-drugs\",\n
        \               \"lead_image_url\": null,\n                \"author\": null,\n
        \               \"excerpt\": \"The war on drugs is a mantra of social conservatives
        and liberals alike. We need to protect our children against the evils of drugs
        on the streets, don't we? Let us set aside for a moment the fact&hellip;\",\n
        \               \"direction\": \"ltr\",\n                \"word_count\": 395,\n
        \               \"date_published\": null,\n                \"dek\": null,\n
        \               \"processed\": true,\n                \"id\": \"uxh9btpt\"\n
        \           },\n            \"article_href\": \"/api/rest/v1/articles/uxh9btpt\",\n
        \           \"date_favorited\": null,\n            \"date_added\": \"2012-11-19
        13:39:48\",\n            \"archive\": false\n        },\n        {\n            \"user_id\":
        893434,\n            \"read_percent\": \"0.00\",\n            \"date_updated\":
        \"2012-11-19 18:52:11\",\n            \"favorite\": false,\n            \"id\":
        24857562,\n            \"date_archived\": null,\n            \"date_opened\":
        null,\n            \"article\": {\n                \"domain\": \"devans.us\",\n
        \               \"title\": \"Turing Incomplete\",\n                \"url\":
        \"[...]
- request:
    method: post
    uri: https://www.readability.com/api/rest/v1/bookmarks
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fdevans.us%2Fpublic%2Fpost%2F13%2Fthe-cost-of-the-war-on-drugs
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
  response:
    status:
      code: 409
      message: CONFLICT
    headers:
      Content-Type:
      - application/json
      Location:
      - https://www.readability.com/api/rest/v1/bookmarks/24858023
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"redirect": true, "existing_bookmark": 24858023}, "messages":
        ["Bookmark already exists."], "success": true}'
  recorded_at: Tue, 20 Nov 2012 00:49:30 GMT
recorded_with: VCR 2.0.1
