---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/users/_current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="qgUGt7rPMrCVMx00cnEMrjR7cZNJppA5etEWuY1aPyY",
        oauth_signature="6t6ohQEiDBokbqryvD3nII0vfwc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1334276905", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"username\": \"<TOKENS>\",\n    \"first_name\": \"dongbin\",\n
        \   \"last_name\": \"li\",\n    \"has_active_subscription\": false,\n    \"favorites_limit\":
        0,\n    \"is_publisher\": false,\n    \"reading_limit\": 0,\n    \"avatar_url\":
        \"https://secure.gravatar.com/avatar/6fee9190161d257e7008059878ede591?d=https://www.readability.com/media/images/avatar.png&s=36\",\n
        \   \"date_joined\": \"2011-11-17 09:31:53\"\n}"
  recorded_at: Fri, 13 Apr 2012 00:28:27 GMT
recorded_with: VCR 2.0.1
