---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/bookmarks?added_until=2012-1-1&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="Xc8HCVOzxhpz8sgPCUVDer3spA2TLJy4FMBQcDIcolI",
        oauth_signature="cX%2FCeK0pYubEOv07oH0333F7%2BKM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1361335761", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"bookmarks\": [\n        {\n            \"user_id\": 24591,\n
        \           \"read_percent\": \"0.00\",\n            \"tags\": [],\n            \"date_updated\":
        \"2012-01-16 21:48:53\",\n            \"favorite\": false,\n            \"id\":
        1836432,\n            \"date_archived\": \"2012-01-16 21:48:53\",\n            \"date_opened\":
        null,\n            \"article\": {\n                \"domain\": \"www.everpix.com\",\n
        \               \"title\": \"Everpix\",\n                \"url\": \"https://www.everpix.com/#year=2010\",\n
        \               \"lead_image_url\": null,\n                \"author\": null,\n
        \               \"excerpt\": \"From Aug 22, 4:38 PM to Jun 10, 8:05 PM\",\n
        \               \"direction\": \"ltr\",\n                \"word_count\": 506,\n
        \               \"date_published\": null,\n                \"dek\": null,\n
        \               \"processed\": true,\n                \"id\": \"uunhk2gr\"\n
        \           },\n            \"article_href\": \"/api/rest/v1/articles/uunhk2gr\",\n
        \           \"date_favorited\": null,\n            \"date_added\": \"2011-12-30
        21:43:48\",\n            \"archive\": true\n        },\n        {\n            \"user_id\":
        24591,\n            \"read_percent\": \"0.00\",\n            \"tags\": [],\n
        \           \"date_updated\": \"2012-01-16 21:48:58\",\n            \"favorite\":
        false,\n            \"id\": 1834877,\n            \"date_archived\": \"2012-01-16
        21:48:58\",\n            \"date_opened\": null,\n            \"article\":
        {\n                \"domain\": \"hangar.runway7.net\",\n                \"title\":
       [...]
