---
http_interactions:
- request:
    method: get
    uri: https://www.readability.com/api/rest/v1/articles/eg60dxbv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TOKENS>", oauth_nonce="dKfiGwmM5ibya8axWHHDTW3UH3dTQw3XE6Dyu4t9DwA",
        oauth_signature="c3Edm6p2D3Z6OEwLjhusArmGVh0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364436334", oauth_token="<TOKENS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"direction\": \"ltr\",\n    \"next_page_href\": null,\n    \"author\":
        null,\n    \"url\": \"http://www.joezimjs.com/javascript/javascript-design-patterns-decorator/?utm_source=javascriptweekly&utm_medium=email\",\n
        \   \"lead_image_url\": \"http://www.joezimjs.com/wp-content/uploads/decorator_structure.png\",\n
        \   \"title\": \"JavaScript Design Patterns: Decorator\",\n    \"excerpt\":
        \"Today I&#x2019;d like to show another JavaScript Design Pattern: the Decorator,
        which is a way to add features to objects without subclassing or adding extra
        attributes. This post continues the&hellip;\",\n    \"domain\": \"www.joezimjs.com\",\n
        \   \"word_count\": 1351,\n    \"content\": \"<div><div class=\\\"entry-content\\\">\\n\\n\\t\\t<p>Today
        I&#x2019;d like to show another JavaScript Design Pattern: the Decorator,
        which is a way to add features to objects without subclassing or adding extra
        attributes. This post continues the JavaScript Design Patterns series that
        I started several months ago. If you&#x2019;re new to the JavaScript Design
        Patterns series that I&#x2019;m running here, you can find a list of the previous
        and upcoming posts in the series at the <a href=\\\"http://www.joezimjs.com/javascript/javascript-design-patterns-decorator/#series\\\">bottom
        of the post</a>.</p>\\n<h2>Back on Course with Tutorial Posts</h2>\\n<p>After
        the exciting launch of my new <a href=\\\"http://www.joezimjs.com/projects/publish-subscribe-jquery-plugin/\\\"
        title=\\\"JZ Publish/Subscribe Project Page\\\">jQuery plugin</a> it&#x2019;s
        been difficult to bring myself back to normal blogging and back to this series.
        If you don&#x2019;t know what I&#x2019;m talking about, then you should hop
        on over to the <a href=\\\"http://www.joezimjs.com/javascript/n[...]
